html, body {
    height: 100%;
}

@font-face {
    font-family: "Michland";
    src: url(assets/Michland\ Script.otf);
}

body {
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root {
    --altura-header: 100px;
    --altura-footer: 50px;
}

.navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url('./assets/images/desplegable-boton.png');
}

.contenedor-principal-crear {
    min-height: calc(100% - (var(--altura-header) + var(--altura-footer)));
    display: flex;
    justify-content: center;
    align-items: center;
}

.siguenos {
    color: white;
}

.boton-eliminar {
    width: 50%;
    margin-top: 5px;
}

.contenedor-eliminar {
    display: flex;
    justify-content: center;
}

.contenedor-usuarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

h1.crear-usuario {
    text-align: center;
}

h1.ver-usuarios {
    text-align: center;
    color: white;
    font-size: 80px;
    margin: 15px auto;
    font-family: "Michland";
}

.row {
    align-items: center;
}

.card {
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 5px 5px black;
    border: 6px solid black;
}

.list-group-item {
    text-align: center;
}

.card .list-group {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

form {
    border-radius: 30px;
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
    box-shadow: 4px 4px 6px;
}

.navbar {
    height: var(--altura-header);
    background-color: transparent;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end !important;
}

.enlaces ul {
    background-color: none;
    position: relative;
    margin-right: 10%;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-around;
}

.enlaces li {
    margin-left: 100px;
}

.navbar-brand {
    font-family: Michland;
    color: white;
    font-size: 70px;
    margin-left: 10%;
}

.nav-link {
    color: white !important;
    display: flex;
    justify-content: center;
    font-size: 24px;
    position: relative;    
}

.nav-link:hover {
    text-shadow: 0px 0px 8px #f6f7f9;
}

.enlaces {
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 0%;
    height: 3px;
    margin: auto 10%;
    background: #00FFDD;
    transition: width 0.8s;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #00FFDD;  
    
}

.nav-link:hover::after {
    width: 80%;
    margin: auto 10%;
    
}

footer {
    height: var(--altura-footer);
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border-radius: 14px 14px 0px 0px !important;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
}

.img-card {
    border-top: 4px solid black;
}

#footy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    gap: 15px;
}

.social-logo {
    width: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}

#social-media {
    display: flex;
    gap: 8px;
}

.numero-tlf {
    color: white;
}

.email {
    color: white;
}

.sin-usuarios {
    color: white;
    margin: 25vh auto;
}

@media only screen and (max-width: 400px) {
    form {
      font-size: 12px;
      width: 80%;
    }

    h3 {
        font-size: 16px;
    }

    h1 {
        font-size: 22px;
    }

    input, input::placeholder {
        font-size: 12px;
    }

    .numero-tlf {
        font-size: 12px;
    }
}